<ion-view title="Items" class="center">
	<ion-content padding="true" ng-class="{'has-header has-tabs-top': platform.isAndroid(), 'has-header': !platform.isAndroid()}">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search ion-android-search"></i>
        <input type="text" placeholder="Search" ng-model="searchText"/>
      </label>
    </div>
    <ion-list>
      <ion-item ng-repeat="categoryItem in categoryItems | filter: searchText" class="item item-button-right">
          {{categoryItem.Item}}
          <button class="button button-clear button-balanced" ng-click="addItem(categoryItem)">
						<i class="icon ion-plus-round"></i>
						Add
          </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
