<ion-view title="Checkout" class="center">
	<ion-content padding="true" ng-class="{'has-header has-tabs-top': platform.isAndroid(), 'has-header': !platform.isAndroid()}">

    <div class="list">
      <div class="item item-divider">
        Pickup Location
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-location"></i>
        {{pickUp}}
      </a>
      <div class="item item-divider">
        Destination Location
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-location"></i>
        {{destination}}
      </a>
      <div class="item item-divider">
        Distance
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-map"></i>
        {{distance}}
      </a>
      <div class="item item-divider">
        Time
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-android-time"></i>
        {{time}}
      </a>
			<div class="item item-divider">
        Number of Items
      </div>
      <a class="item item-icon-left" href="#" ng-click="showItemsPopUp()">
        <i class="icon ion-android-list"></i>
        {{itemsNo}}
				<span class="item-note">
      		View Items
    		</span>
      </a>
      <div class="item item-divider">
        Price
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-card"></i>
        R {{totalPrice | number:2}}
      </a>
  	</div>
		<div class="list list-inset">
			<div class="button-bar">
	  		<a class="button button-block button-balanced">Accept</a>
	  		<a class="button button-block button-assertive">Decline</a>
			</div>
		</div>	
  </ion-content>
</ion-view>
