<ion-view title="Add Items" class="center">
	<ion-content padding="true" ng-class="{'has-header has-tabs-top': platform.isAndroid(), 'has-header': !platform.isAndroid()}">
    <div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-click="openModal()">
			</label>
    </div>
		<div class="button button-block button-balanced ion-ios-cart" ng-show="showCheckout">
			Checkout
		</div>
		<ion-list>
			<div class="item item-divider">
				Items no: {{itemsAdded.length}} Max Items no: 10
			</div>
		  <ion-item ng-repeat="item in itemsAdded" class="item-icon-right">
				<i class="icon ion-trash-a" ng-click="removeItem($index)"></i>
				{{item.Item}}
		  </ion-item>
		</ion-list>
  </ion-content>
</ion-view>
