<ion-view title="Add Items" class="center">
	<ion-content padding="true" ng-class="{'has-header has-tabs-top': platform.isAndroid(), 'has-header': !platform.isAndroid()}">
    <div mass-autocomplete>
        <input ng-model="selected"  mass-autocomplete-item="autocomplete_options" class="item item-input">
      </div>
      {{selected}}
      <button class="button button-block button-positive" ng-click='additems()'>
    Add
  </button>
  <ion-list>
    <ion-item ng-repeat="item in itemsAdded">
      {{item}}
    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
