<ion-view title="Home" class="center">
	<ion-content padding="true" ng-class="{'has-header has-tabs-top': platform.isAndroid(), 'has-header': !platform.isAndroid()}">
    <div class="list list-inset">
      <label class="item item-input" ng-show="showAddPickUp">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="search pick up" type="text" ng-model="chosenPickUp" googleplace>
      </label>
      <label class="item item-input" ng-show="showAddDestination">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="search destination" type="text" ng-model="chosenDestination" googleplace>
      </label>
      <button class="button button-positive button-block" ng-click="addPickUpAddress(chosenPickUp)" ng-show="showAddPickUp">Add Pick Up</button>
      <button class="button button-energized button-block" ng-click="addDestinationAddress(chosenDestination)" ng-show="showAddDestination">Add Destination</button>
      <button class="button button-balanced button-block" ng-click="showConfirmQuote(chosenPickUp, chosenDestination)" ng-show="showQuote">Add Items</button>
      <button class="button button-assertive button-block" ng-click="reLoadState()" ng-show="showQuote">Change Location</button>
    </div>
    <div id="map" data-tap-disabled="true"></div>
		<div class="infobox-wrapper">
    <div id="infobox">
      <b>Pick Up Location</b><br/>
			 {{chosenPickUp}}<br/>
			 <div>
				 <button class="button button-small button-dark" ng-click="addPickUpAddress(chosenPickUp)">Keep Location</button>
  			 <button class="button button-small button-dark" ng-click="notKeepLocation()">Change Location</button>
			 </div>
    </div>
	</div>
	<div class="infobox-wrapper">
		<div id="infobox2">
			<b>Pick Up Location</b><br/>
	 	{{chosenPickUp}}<br/>
		</div>
	</div>
	<div class="infobox-wrapper">
		<div id="infobox3">
			<b>Destination Location</b><br/>
	 		{{chosenDestination}}<br/>
		</div>
	</div>
  </ion-content>
</ion-view>
